default:
  suites:
    default:
      contexts:
        - FeatureContext
        - OverrideContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\nexteuropa\Context\MinkContext
      filters:
        tags: "~@wip"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      javascript_session: 'selenium2'
      base-url: '${behat.base_url}'
      files_path: '${behat.dir}/files'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      blackbox: ~
      drupal:
        drupal_root: '${platform.build.dir}'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
      subcontexts:
        paths:
          - '${behat.subcontexts.path}'
      region_map:
        admin_menu: "#admin-menu-menu"
        content_top: ".region-content-top"
        header_top: ".region-header-top"
        header: "#layout-header"
        primary_tabs: ".tabs-primary"
        content: "#layout-body"
        footer: "#layout-footer"
        sidebar_left: "#sidebar-left"
        sidebar_right: "#sidebar-right"
      drush:
        root: '${platform.build.dir}'
        binary: '${drush.bin}'
  formatters:
    ${behat.formatter.name}: ~
